<div class="container">
    <div class="row">
         <div class="col-md-2">
            <form name="searchForm">
                <div class="form-group">
                    <label>Search query</label>
                    <input type="text" class="form-control" ng-model="searchQuery">
                </div>
                <div class="from-group">
                    <label for="manufacturer">Manufacturer</label>
                    <select class="form-control" ng-model="manufacturer" ng-options="m.manufacturer for m in carsTree" ng-change="onManufacturerChange()"></select>
                </div>
                <div class="from-group">
                    <label for="model">Model</label>
                    <select class="form-control" ng-model="model" ng-options="m for m in manufacturer.models"></select>
                </div>
                <div class="form-group">
                    <label for="priceMin">Min price</label>
                    <input type="number" min="0" max="1000000" id="priceMin" ng-model="filter.priceMin" class="form-control"></input>
                </div>
                <div class="form-group">
                    <label for="priceMax">Max price</label>
                    <input type="number" min="1" max="1000000" id="priceMax" ng-model="filter.priceMax" class="form-control"></input>
                </div>
                <div class="form-group">
                    <label for="yearMin">Min year</label>
                    <select id="yearMin" ng-model="yearMin" ng-options="y for y in yearsMin" class="form-control" ng-change="onYearMinChange()"></select>
                </div>
                <div class="form-group">
                    <label for="yearMax">Max year</label>
                    <Select id="yearMax" ng-model="yearMax" ng-options="y for y in yearsMax" class="form-control" ng-change="onYearMaxChange()"></select>
                </div>
                <div class="form-group">
                    <label for="kilometrageMin">Min kilometrage</label>
                    <input type="number" min="0" max="1000" id="kilometrageMin" ng-model="filter.kilometrageMin" class="form-control"></input>
                </div>
                <div class="form-group">
                    <label for="kilometrageMax">Max kilometrage</label>
                    <input type="number" min="0" max="1000" id="kilometrageMax" ng-model="filter.kilometrageMax" class="form-control"></input>
                </div>
                <div class="from-group">
                    <label for="fuelType">Fuel Type</label>
                    <select class="form-control" ng-model="fuelType" ng-options="f for f in fuelTypes"></select>
                </div>
                <div class="form-group">
                    <label for="transmission">Automatic Transmission</label>
                    <select id="transmission" ng-model="transmission" ng-options="t for t in transmissions" class="form-control" ng-change="onYearMinChange()"></select>
                </div>
                <button class="btn btn-primary" ng-click="search()">Search</button>
                <button class="btn btn-default" ng-click="resetSearchForm()">Reset</button>
            </form>
        </div>
        <div class="col-md-10">
            <div ng-show="noCars" class="alert alert-danger">
                0 cars found.
            </div>
            <table class="table table-bordered">
                <th>
                    Car Id
                </th>
                <th>
                    Manufacturer
                </th>
                <th>
                    Model
                </th>
                <th>
                    Year
                </th>
                <th>
                    Views
                </th>
                <th>
                    Kilometrage
                </th>
                <th>
                    Price
                </th>
                <th>
                    Fuel Type
                </th>
                <th>
                    Automatic Transmission
                </th>
                <th>
                    Description
                </th>
                <th>
                    Photo
                </th>

                <tr ng-repeat="car in cars" ng-mouseenter="options=true" ng-mouseleave="options=false">
                    <td>
                        {{ car.carId }}
                    </td>
                    <td>
                        {{ car.manufacturer }}
                    </td>
                    <td>
                        {{ car.model }}
                    </td>
                    <td>
                        {{ car.year }}
                    </td>
                    <td>
                        {{ car.views }}
                    </td>
                    <td>
                        {{ car.kilometrage * 1000 }} km
                    </td>
                    <td>
                        {{ car.price }} USD
                    </td>
                    <td>
                        {{ car.fuelType }}
                    </td>
                    <td>
                        {{ car.automaticTransmission }}
                    </td>
                    <td>
                        {{ car.description }}
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-md-10">
                                <img class="img-responsive img-rounded" ng-src="{{ car.photos[0] }}">
                            </div>
                            <div class="col-md-2" ng-show="options">
                                <p>
                                    <a ng-href="http://localhost:1337/admin/#/edit/{{car.carId}}" class="btn btn-default">Edit</a>
                                </p>
                                <p>
                                    <a ng-click="deleteCar(car.carId)" class="btn btn-danger">Delete</a>
                                </p>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
